# Fase 0: <i>Recopilación de datos</i>
## <b>Obtención de las rutas aéreas existentes</b>

&emsp;&emsp;Se procede a obtener la información de los aeropuertos (<i>ciudad</i>, <i>país</i>, <i>código IATA</i> y <i>coordenadas</i> del aeropuerto) y las rutas aéreas sobre las que vamos a realizar el webscraping

In [1]:
import pandas as pd
import numpy as np
rutasDat = "../../data/routes.dat"
rutasCsv = "../../data/rutasIniciales.csv"
aeropuertosDat = "../../data/airports.dat"
aeropuertosCsv = "../../data/aeropuertos_data.csv"

&emsp;&emsp;En primer lugar, obtenemos las rutas aéreas con origen en <b><i>Barcelona</i></b> y <b><i>Madrid</i></b> y las guardamos en un fichero CSV para poder tenerlos disponibles a la hora de buscar vuelos.

In [2]:
dfRutas = pd.read_csv(rutasDat, names=["Airline", "Airline ID", "Source Airport", "Source Airport ID", "Destination Airport", "Destination Airport ID", "Codeshare", "Stops", "Equipment"])
dfRutasIniciales=dfRutas[dfRutas["Source Airport"].isin(["MAD", "BCN"])]
dfRutasIniciales.to_csv(rutasCsv)
print("rutasIniciales.csv creado correctamente")
dfRutasIniciales

rutasIniciales.csv creado correctamente

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment
285,3G,595,BCN,1218,BJL,1050,NaN,0,319
512,3O,9818,BCN,1218,CMN,1074,NaN,0,320
513,3O,9818,BCN,1218,NDR,5673,NaN,0,320
514,3O,9818,BCN,1218,TNG,1080,NaN,0,320
1234,4U,2548,BCN,1218,CGN,344,NaN,0,320 319
...,...,...,...,...,...,...,...,...,...
62881,W6,5461,MAD,1229,TSR,1663,NaN,0,320
66404,ZB,220,BCN,1218,BHX,469,NaN,0,320 321
66405,ZB,220,BCN,1218,LBA,517,NaN,0,320
66406,ZB,220,BCN,1218,LGW,502,NaN,0,321 752
66407,ZB,220,BCN,1218,MAN,478,NaN,0,321

&emsp;&emsp;En segundo lugar, obtenemos los datos de los aeropuertos.

In [5]:
dfAeropuertos = pd.read_csv(aeropuertosDat, header=None)
dfAeropuertos = dfAeropuertos.replace('\\N', np.nan)
dfAeropuertos.dropna(axis=0, inplace = True)
dfAeropuertosSelecc = dfAeropuertos[[2,3,4,6,7]]
dfAeropuertosSelecc.columns=["CIUDAD","PAIS","COD","LATITUD","LONGITUD"]
dfAeropuertosSelecc.to_csv(aeropuertosCsv)
print("aeropuertos_data.csv creado correctamente")
dfAeropuertosSelecc

aeropuertos_data.csv creado correctamente

                          CIUDAD              PAIS  COD    LATITUD    LONGITUD
0                         Goroka  Papua New Guinea  GKA  -6.081690  145.391998
1                         Madang  Papua New Guinea  MAG  -5.207080  145.789001
2                    Mount Hagen  Papua New Guinea  HGU  -5.826790  144.296005
3                         Nadzab  Papua New Guinea  LAE  -6.569803  146.725977
4                   Port Moresby  Papua New Guinea  POM  -9.443380  147.220001
...                          ...               ...  ...        ...         ...
6701                       Medan         Indonesia  KNO   3.642222   98.885278
6722                Chichen Itza            Mexico  CZA  20.641300  -88.446198
6735  San Cristobal de las Casas            Mexico  SZT  16.690300  -92.530098
6749                        Eysk            Russia  EIK  46.680000   38.210000
6806                       Magas            Russia  IGT  43.322300   45.012600

[5515 rows x 5 columns]